<h1>Moje úlohy</h1>

<a href="/tasks/create/">+ Pridať úlohu</a>

<ul>
    {% for task in tasks %}
        <li>
            <b>{{ task.title }}</b><br>
            {{ task.description }}<br>
            {{ task.due_date }}<br>
            {{ task.priority }} | {{ task.status }}<br>
            vytvoril: {{ task.user.username }}
        </li>
    {% empty %}
        <li>Žiadne úlohy</li>
    {% endfor %}
</ul>

<form method="post" action="/logout/">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>